<div id="divBuscarColonia" class="col-md-12">
    <div class="col-md-12 divTitulo">
        <h5> CONSULTAR CÓDIGO POSTAL </h5>
    </div>

    <div class="col-md-12 div-datos-info">
        <div class="col-md-14">
            <div align="right" class="col-md-4">
                <label for="lblCodigoPostal" class="lbldatos">CÓDIGO POSTAL:</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="idtxtCodPostal" id="idtxtCodPostal" class="form-control btn-border-radius" MaxLength="5" />
            </div>
        </div>
    </div>

    <div class="col-md-12 div-datos-info">
        <div class="col-md-14">
            <div align="right" class="col-md-4">
                <label for="lblEstado" class="lbldatos">ESTADO:</label>
            </div>
            <div class="col-md-4">
                <select id="cboEstado" class="form-control btn-border-radius">
                    <option>Seleccionar un elemento</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-12 div-datos-info">
        <div class="col-md-14">
            <div align="right" class="col-md-4">
                <label for="lblCiudad" class="lbldatos">CIUDAD/POBLACIÓN:</label>
            </div>
            <div class="col-md-4">
                <select id="cboCiudad" class="form-control btn-border-radius">
                    <option>Seleccionar un elemento</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-12 div-datos-info">
        <div class="col-md-14">
            <div align="right" class="col-md-4">
                <label for="lblDelega" class="lbldatos">DELEGACIÓN/MUNICIPIO:</label>
            </div>
            <div class="col-md-4">
                <select id="cboMunicipio" class="form-control btn-border-radius">
                    <option>Seleccionar un elemento</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-12 div-datos-info">
        <div class="col-md-14">
            <div align="right" class="col-md-4">
                <label for="lblEstado" class="lbldatos">COLONIA/ASENTAMIENTO:</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="idtxtColonia" id="idtxtColonia" class="form-control btn-border-radius" MaxLength="60" />
            </div>
        </div>
    </div>

    <div class="col-md-12 text-center div-datos-info div-botones">
        <div class="col-md-4 col-md-offset-4">
            <button name="btnBuscarColonia" id="btnBuscarColonia" class="btn btn-primary btn-border-radius">
                <i class="ace-icon glyphicon glyphicon-search"></i> BUSCAR</button>
        </div>
    </div>

    <div class="col-md-12 text-center div-datos-info">
        <table id="gridColonias"></table>
    </div>

    <div class="col-md-12 text-center div-datos-info div-botones">
        <div class="col-md-4 col-md-offset-2">
            <button name="btnSeleccionarColonia" id="btnSeleccionarColonia" class="btn btn-primary btn-border-radius">REGRESAR VALORES</button>
        </div>
        <div class="col-md-4 ">
            <button name="btnCancelarBuscarColonia" id="btnCancelarBuscarColonia" class="btn btn-primary btn-border-radius">CANCELAR</button>
        </div>
    </div>
</div>