<style type="text/css">
	.comboBoxVistaDom
	{
		width: 300px;
		font-size: 12px;
		background-color:Azure;
	}
	#tbCriteriosDom td
	{
		font-size: 12px;
	}
	.entradaTextoDom
	{
		font-size: 12px;
		background-color:Azure;
	}
	.SeccionDom
	{
		font-weight: bold;
		font-size: 12px;
		color: White;
		text-decoration: none;
		font-style: normal;
		font-family: Lucida Sans Unicode;
		height: 22px;
		font-variant: normal;
		background-color: #5a9ecf;
		text-align: center;
	}
	.TituloDom
	{
		font-family: Lucida Sans Unicode;
		text-decoration: none;
		color: CadetBlue;
		height: 20px;
		font-size: 20px;
		width:100%;
	}
</style>
<!-- <script src="../jquery/jquery-1.9.1.js" type="text/javascript"></script> -->
<script src="../../buscarColonia/js/buscarColonia.js" type="text/javascript"></script>
<div id="divBuscarColonia" style="display: none">
	<table border="0" width="100%" cellSpacing="0" cellPadding="0">
		<tr valign="middle" width="100%">
			<td width="35%">
				<img src="../../buscarColonia/imagenes/logo_aforecoppel.png" />
			</td>
			<td width="35%" align = "center">
				<span class = "TituloDom"><b>CONSULTAR CÓDIGO POSTAL</b></span>
			</td>
			<td width="30%" align = "right">
				<label id="fechaActual"></label>
			</td>
		</tr>
		<tr class="SeccionDom">
			<td align="center" colSpan="3">INFORMACIÓN A CONSULTAR</td>
		</tr>
		<tr>
			<td colspan="3" align="center" valign="center">
				<table width="40%" border="0" id="tbCriteriosDom">
					<tr>
						<td align="right">CÓDIGO POSTAL:</td>
						<td><input autocomplete="off" id="idtxtCodPostal" type="tel" MaxLength="5" style="width: 72px" class="entradaTextoDom"></input></td>
					</tr>
					<tr>
						<td align="right">ESTADO</td>
						<td>
							<select id="cboEstado" class="comboBoxVistaDom">
								<option>Seleccionar un elemento</option>
							</select>
						</td>
					</tr>
					<tr>
						<td align="right">CIUDAD/POBLACIÓN</td>
						<td>
							<select id = "cboCiudad" class="comboBoxVistaDom">
								<option>Seleccionar un elemento</option>
							</select>
						</td>
					</tr>
					<tr>
						<td align="right">DELEGACIÓN/MUNICIPIO</td>
						<td>
							<select id = "cboMunicipio" class="comboBoxVistaDom">
								<option>Seleccionar un elemento</option>
							</select>
						</td>
					</tr>
					<tr>
						<td align="right">COLONIA/ASENTAMIENTO</td>
						<td><input autocomplete="off" id="idtxtColonia" type="text" MaxLength="60" style="width: 390px" class="entradaTextoDom"></input></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
		<tr>
			<td colspan="3" align="center">
				<button id="btnBuscarColonia">BUSCAR</button>
			</td>
		</tr>
		<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
		<tr>
			<td width="100%" align="center" colspan="3">
				<div>
					<table id="gridColonias"></table>
					<div id= "jqPager" style = "height:20px"></div>

				</div>

			</td>
		</tr>
		<tr>

		</tr>
		<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
		<tr>
			<td colspan="3" align="center">
				<button id="btnSeleccionarColonia">REGRESAR VALORES</button>&nbsp&nbsp
				<button id="btnCancelarBuscarColonia">CANCELAR</button>
			</td>
		</tr>
	</table>
</div>
